[push]
    default = simple
[core]
    editor = vim
	excludesfile = ~/.gitignore_global
[alias]
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    subup = submodule update --init --recursive
    publish = "!git push -u origin HEAD:$(git branch-name)"
[user]
    email = change@this.asap
    name = myNameIs
[diff "sopsdiffer"]
	textconv = sops -d
